<footer>
    <div class="py-3 g--background-color-primary-oscuro">
        <div class="container mb-3">
            <div class="row text-white">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-lg-start text-md-start text-center px-3 mb-sm-5">
                    <a routerLink="">
                        <img class="img-fluid pb-4" src="logo/logo_pms_medio.webp">
                    </a>
                    <div>
                        <ul class="list-text-company m-0 p-0 text-white">
                            <li>Calle severo ochoa, 18, burjassot, 46100, valencia - <a
                                    href="https://maps.app.goo.gl/jWCimenuJfjqcQ5p9" target="_blank"><span
                                        class="g--color-tertiary">Google
                                        maps</span></a></li>
                            <li>
                                Teléfono: <a href="tel:+34123456789"><span class="g--color-tertiary">+34 123 456
                                        789</span></a>
                            </li>
                            <li>
                                E-mail: <a href="mailto:pruebas@pruebas.com">
                                    <span class="g--color-tertiary">pruebas&#64;pruebas.es</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-lg-start text-md-start text-center px-3 my-xs-5 ">
                    <h4 class="text-uppercase mb-3 footer-titulos">Nosotros</h4>
                    <div>
                        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem
                            Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un
                            impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de
                            textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo
                            sobrevivió 500 años.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-lg-start text-md-start text-center px-3 mb-md-5">
                    <h4 class="text-uppercase mb-3 footer-titulos">INFORMACIÓN LEGAL</h4>
                    <div>
                        <ul class="footer-servicios-link text-white m-0 p-0">
                            <li><a routerLink="aviso-legal" routerLinkActive="activo">Aviso legal</a></li>
                            <li><a routerLink="politica-de-cookies" routerLinkActive="activo">Política de cookies</a>
                            </li>
                            <li><a routerLink="politica-de-privacidad" routerLinkActive="activo">Política de
                                    privacidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>