.logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .mobile-nav {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .mobile-nav {
      display: block;
    }
  }
  
  .mobile-nav-content {
    width: 250px;
  }
  