<section><app-titulo-pages [tituloInicial]="tituloInicial" /></section>
<section class="container mt-5">
    <div class="mt-2 mb-5">
        <h3 class="nosotros-titulo mt-0 mb-2">Sobre PMS OLIVA</h3>
        <p class="mensaje-principal g--font-family-dm-sans">PMS Oliva es una empresa líder Lorem ipsum dolor sit amet,
            consectetur adipiscing
            elit. Curabitur fringilla, arcu ac luctus pretium, libero nunc vulputate odio, vel accumsan leo metus eget
            est. Aliquam quis aliquam neque, id cursus diam. Etiam non semper elit. Fusce porta pellentesque neque,
            finibus imperdiet nulla posuere eget. Pellentesque ac interdum tortor, eget commodo eros. Vestibulum quis
            lacus gravida, sollicitudin nibh sit amet, gravida libero. Vivamus sed felis vitae leo lobortis euismod vel
            eget est.</p>
        <div class="row m-0 p-0 mt-2">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0 mensaje-secundario pe-lg-4 pe-md-4 pe-sm-0">
                <p class="mb-4 mb-lg-0">Orci varius natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt a tortor nec
                    molestie. Integer iaculis tellus vitae sagittis semper. Sed non quam orci. Donec convallis ligula id
                    neque congue, in congue dui maximus. Fusce eu libero eu arcu ultricies suscipit eget nec
                    sapien.<br>Morbi at urna vitae sem pellentesque commodo. Nam semper nunc pharetra, lobortis nisi
                    malesuada, fringilla magna. Suspendisse neque augue, tincidunt in gravida a, egestas sed ex. Orci
                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam non cursus
                    massa.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0 mensaje-secundario ps-lg-4 ps-md-4 ps-sm-0">
                <p class="mb-3">In hac habitasse platea dictumst. Donec auctor laoreet tellus et sodales. Vestibulum
                    blandit hendrerit erat sit amet semper.</p>
                <p class="mb-3"> Curabitur quis gravida metus. Phasellus in imperdiet lorem. Pellentesque pellentesque
                    quam sapien, sed imperdiet nulla consectetur sit amet. Proin nec tellus convallis est pretium
                    porttitor in eu quam. Duis tristique arcu id erat aliquam placerat. </p>
                <p>Etiam fringilla dignissim commodo. Donec vitae turpis justo. Pellentesque quis arcu mattis, suscipit
                    felis eu, semper lacus. In elementum ligula sit amet condimentum pretium.</p>
            </div>
        </div>
    </div>
</section>
<section><app-ofrecemos /></section>
<section>
    <div class="container-fluid">
        <app-cualidades id="cualidades"></app-cualidades>
    </div>
</section>