.politica-cookies {
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding: 20px 0;
}

.politica-cookies .container {
    max-width: 800px;
    margin: 0 auto;
}

.politica-cookies__titulo {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #2b2a2a;
}

.politica-cookies__intro {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
}

.politica-cookies__subtitulo {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #007bff;
}

.politica-cookies p {
    margin-bottom: 10px;
    text-align: justify;
}

@media (max-width: 768px) {
    .politica-cookies .container {
        padding: 0 15px;
    }

    .politica-cookies__titulo {
        font-size: 2em;
    }

    .politica-cookies__intro,
    .politica-cookies__subtitulo {
        font-size: 1.2em;
    }
}