<app-header [links]="links" (SidenavToggle)="sidenav.toggle()" />
<mat-sidenav-container class="bg-white">
  <mat-sidenav #sidenav role="navigation" position="end" [fixedInViewport]="true">
    <app-side-nav [links]="links" (CloseSidenav)="sidenav.close()" />
  </mat-sidenav>
  <main class="mx-5">
    <router-outlet />
  </main>
  <app-footer />
  <!-- <article class="copyright">
    <p class="mt-3">Copyright © 1990 PMS Oliva. All rights reserved. Producción, diseño y montaje de stands.</p>
  </article> -->
</mat-sidenav-container>