<section><app-titulo-pages [tituloInicial]="tituloInicial" /></section>
<section class="container my-5">
    <h3 class="g--font-family-dm-sans">A continuación algunos de nuestros diseños y montajes de stands en diferentes
        ferias y eventos. Gracias a las
        empresas que han confiado en PMS Oliva para desarrollar todo nuestro potencial ¡El siguiente podrías ser tú!
    </h3>
</section>
<section class="m-5">
    <div class="container py-4">
        <h2 class="text-center g--color-primary c-lineas_laterales fw-semibold py-4">Nuestros Trabajos</h2>
    </div>
    <app-tabs />
</section>