.politica-privacidad {
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding: 20px 0;
}

.politica-privacidad .container {
    max-width: 800px;
    margin: 0 auto;
}

.politica-privacidad__titulo {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #2b2a2a;
}

.politica-privacidad__intro {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
}

.politica-privacidad__subtitulo {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #007bff;
}

.politica-privacidad p {
    margin-bottom: 10px;
    text-align: justify;
}

.politica-privacidad ul {
    margin-left: 20px;
    list-style-type: disc;
}

@media (max-width: 768px) {
    .politica-privacidad .container {
        padding: 0 15px;
    }

    .politica-privacidad__titulo {
        font-size: 2em;
    }

    .politica-privacidad__intro,
    .politica-privacidad__subtitulo {
        font-size: 1.2em;
    }
}