<section class="politica-privacidad">
    <div class="container py-5">
        <h1 class="politica-privacidad__titulo">Política de Privacidad</h1>

        <p class="politica-privacidad__intro">
            En PSM OLIVA, nos comprometemos a proteger la privacidad de nuestros usuarios. Esta política de
            privacidad describe cómo recopilamos, usamos y protegemos su información personal.
        </p>

        <h2 class="politica-privacidad__subtitulo">Información que Recopilamos</h2>
        <div>
            <p>
                Podemos recopilar la siguiente información personal:</p>
            <ul>
                <li>Nombre y apellidos</li>
                <li>Información de contacto, incluyendo dirección de correo electrónico</li>
                <li>Información demográfica, como código postal, preferencias e intereses</li>
                <li>Otra información relevante para encuestas y/o ofertas</li>
            </ul>
        </div>

        <h2 class="politica-privacidad__subtitulo">Uso de la Información Recopilada</h2>
        <div>
            <p>
                La información recopilada se utiliza para entender sus necesidades y brindarle un mejor servicio, en
                particular por las siguientes razones:</p>
            <ul>
                <li>Mantenimiento de registros internos</li>
                <li>Mejora de nuestros productos y servicios</li>
                <li>Envío periódico de correos electrónicos promocionales sobre nuevos productos, ofertas especiales u
                    otra
                    información que creemos que puede resultar interesante</li>
                <li>Personalización del sitio web según sus intereses</li>
            </ul>

        </div>
        <h2 class="politica-privacidad__subtitulo">Seguridad</h2>
        <p>
            Nos comprometemos a garantizar que su información esté segura. Para prevenir el acceso no autorizado o la
            divulgación, hemos implementado procedimientos físicos, electrónicos y administrativos adecuados para
            salvaguardar y asegurar la información que recopilamos en línea.
        </p>
        <div>
            <h2 class="politica-privacidad__subtitulo">Control de su Información Personal</h2>
            <p>
                Puede optar por restringir la recopilación o el uso de su información personal de las siguientes
                maneras:</p>
            <ul>
                <li>Cuando se le solicite rellenar un formulario en el sitio web, busque la casilla que puede marcar
                    para
                    indicar que no desea que la información sea utilizada por nadie con fines de marketing directo</li>
                <li>Si previamente ha acordado con nosotros el uso de su información personal para fines de marketing
                    directo, puede cambiar de opinión en cualquier momento notificándonos por escrito o enviándonos un
                    correo electrónico a <a href="mailto:pruebas@pruebas.com">
                        <span class="g--color-tertiary-oscuro">pruebas&#64;pruebas.es</span>
                    </a></li>
            </ul>
        </div>

        <h2 class="politica-privacidad__subtitulo">Enlaces a Otros Sitios Web</h2>
        <p>
            Nuestro sitio web puede contener enlaces a otros sitios de interés. Sin embargo, una vez que haya utilizado
            estos enlaces para salir de nuestro sitio, debe tener en cuenta que no tenemos control sobre ese otro sitio
            web. Por lo tanto, no podemos ser responsables de la protección y la privacidad de cualquier información que
            proporcione mientras visita dichos sitios y dichos sitios no se rigen por esta declaración de privacidad.
        </p>

        <h2 class="politica-privacidad__subtitulo">Su Consentimiento</h2>
        <p>
            Al utilizar nuestro sitio web, usted acepta nuestra política de privacidad.
        </p>

        <h2 class="politica-privacidad__subtitulo">Cambios en la Política de Privacidad</h2>
        <p>
            PMS OLIVA puede cambiar esta política de vez en cuando actualizando esta página. Debe revisar
            esta página de vez en cuando para asegurarse de que está satisfecho con cualquier cambio.
        </p>

        <h2 class="politica-privacidad__subtitulo">Contacto</h2>
        <p>
            Si tiene alguna pregunta sobre esta política de privacidad, puede contactarnos en <a
                href="mailto:pruebas@pruebas.com">
                <span class="g--color-tertiary-oscuro">pruebas&#64;pruebas.es</span>
            </a>.
        </p>
    </div>
</section>