<header>
  <mat-toolbar class="g--background-color-tertiary" id="header">
    <a routerLink="/">
      <img class="img-fluid mt-1" src="logo/logo_pms.webp" alt="Logotipo" />
    </a>
    <nav mat-tab-nav-bar class="ms-auto d-none d-sm-none d-lg-block" [tabPanel]="tabPanel">
      <a mat-tab-link disableRipple *ngFor="let link of links" [routerLink]="link.url"
        [active]="router.isActive(link.url, true)">
        {{link.ruta}}
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    <div class="ms-auto d-block d-sm-block d-lg-none">
      <button class="text-dark bg-white border-0" mat-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>